 {% extends 'base.html' %} {% load static %} 
{% block title %} 
Ticket Digital
 {%endblock %}
 {% block content %}

<div class="container py-5">
  <div class="text-right mb-5">
    <img
      src="{% static 'ifam_humaita_logo_inicio.png' %}"
      alt="Logo IFAM"
      class="img-fluid mb-3"
      style="max-width: 250px"
    />

    <p class="lead">AlimentaIF</p>
  </div>

  <div class="row g-4">
    <!-- Importação -->
    <div class="col-lg-12">
        <div class="card shadow h-100">
            <div class="card-body">

                <!-- Ícone e título na mesma linha -->
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <div class="display-3 me-3">📂</div>
                    <h4 class="mb-0">Importar CSV</h4>
                </div>

                <!-- Botão -->
                <div class="text-center">
                    <a href="{% url 'importar_csv' %}" class="btn btn-primary">
                        Acessar
                    </a>
                </div>

                <!-- Texto abaixo do botão -->
                <p class="text-center mt-3">
                    Importe os alunos através de um arquivo CSV.
                </p>

            </div>
        </div>
    </div>
</div>
    <!-- Leitor -->
    <div class="col-lg-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <div class="display-4 mb-3">📱</div>

          <h4>Leitor QR Code</h4>

          <p>Registrar automaticamente a retirada da refeição.</p>

          <a href="{% url 'leitor' %}" class="btn btn-success"> Acessar </a>
        </div>
      </div>
    </div>

    <!-- Relatório -->
    <div class="col-lg-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <div class="display-4 mb-3">📊</div>

          <h4>Relatórios</h4>

          <p>Exportar os registros para CSV.</p>

          <a href="{% url 'relatorio' %}" class="btn btn-warning"> Acessar </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
